<% if (typeof dataUsername !== 'undefined' && dataUsername.length !== 0) { %>
  <div class="min-h-screen px-6 sm:px-8 md:px-16 lg:px-36 pt-20">
    <h2 class="text-center text-3xl mb-10 font-semibold text-[#3d90fd]"><%= data.kategori %></h2>
    <article class="bg-white shadow-md rounded-lg overflow-hidden mb-5">
      
      <!-- Gambar Thumbnail -->
      <div class="w-full h-64 md:h-96 overflow-hidden">
          <img 
              src="/public/imageBerita/<%= new Date(data.date).toISOString().split('T')[0] %>/<%= data.thumbnail %>"
              alt="Thumbnail Berita" 
              class="w-full h-full object-cover"
          >
      </div>
        <!-- Header Artikel -->
        <div class="border-b border-gray-200 py-4 px-6 text-start">
            <h1 class="text-2xl font-bold text-gray-800"><%= data.title %></h1>
            <p class="text-sm text-gray-500 mt-2"><%= formatTanggal(data.tanggal_berita) %></p>

        </div>


        <!-- Isi Artikel -->
        <div class="p-6 space-y-4 text-gray-700">
            <p class="whitespace-pre-wrap"><%= data.content.trim() %></p>
        </div>
    </article>
</div>
<% } else {%>
  <div class="min-h-screen px-6 sm:px-8 md:px-16 lg:px-36 pt-24 mb:pt-40 pb-36">
    <h2 class="text-center text-3xl mb-10 font-semibold text-[#3d90fd]"><%= data.kategori %></h2>
    <div id="breadcrumb" class="flex items-center space-x-2 text-sm text-blue-500 mb-6 lg:mb-16"></div>
    <article class="bg-white shadow-md rounded-lg overflow-hidden mb-5">
      
      <!-- Gambar Thumbnail -->
      <div class="w-full lg:h-[30rem] md:h-96 overflow-hidden">
          <img 
              src="../public/imageBerita/<%= new Date(data.date).toISOString().split('T')[0] %>/<%= data.thumbnail %>" 
              alt="Thumbnail Berita" 
              class="w-full h-full object-cover"
          >
      </div>
        <!-- Header Artikel -->
        <div class="border-b border-gray-200 py-4 px-6 text-start">
            <h1 class="text-2xl font-bold text-gray-800"><%= data.title %></h1>
            <p class="text-sm text-gray-500 mt-2"><%= formatTanggal(data.tanggal_berita) %></p>

        </div>


        <!-- Isi Artikel -->
        <div class="p-6 space-y-4 text-gray-700">
            <p class="whitespace-pre-wrap"><%= data.content.trim() %></p>
        </div>
    </article>
</div>
  <% } %>
