<div class="container">
    <div class="row">
      <h1>Data Pendaftar</h1>
        <!-- cek jika data berhasil dikirim maka tampilkan pesan -->
        <% if (msg.length !== 0) { %>
          <div class="alert alert-success" role="alert">
            <h3> <%= msg %> </h3>
          </div>
        <% } %>
        <div class="col-md">
          <table class="table">
              <thead>
                <tr>
                  <th scope="col">No</th>
                  <th scope="col">Nama</th>
                  <th scope="col">NISN</th>
                  <th scope="col">NIK</th>
                  <th scope="col">Jenis Kelamin</th>
                  <th scope="col">Usia</th>
                  <th scope="col">Ubah</th>
                </tr>
              </thead>
              <tbody>
                <% if (dataPendaftar.length === 0 ) { %>
                 <tr>
                  <th colspan="8">
                    <div class="alert alert-danger" role="alert">
                      <h3> Data Masih Kosong </h3>
                    </div>
                  </th>
                 </tr>
                 <% } else { %>
                  <% dataPendaftar.forEach((data, i) => { i++ %>
                    <tr>
                      <th scope="row"> <%= i++ %> </th>
                      <td> <%= data.nama_lengkap %> </td>
                      <td> <%= data.nisn %> </td>
                      <td> <%= data.nik %> </td>
                      <td> <%= data.jenis_kelamin %> </td>
                      <td> <%= data.usia %> </td>
                      <td> <a href="/ubah-data-pendaftar/<%= data._id %>">Ubah</a></td>
                    </tr>
                  <% }) %>
                <% } %>
              </tbody>
            </table>
      </div>
    </div>
</div>