<div class="min-h-screen flex items-center justify-center">
  <div class="bg-white shadow-md rounded-lg w-full max-w-full pt-24 pb-10 px-20">
    <h1 class="text-2xl font-bold text-center text-gray-700 mb-6">Form Pendaftaran</h1>
    
    <!-- Pesan Error -->
    <% if (typeof msg !== 'undefined' && msg.length !== 0) { %>
      <div class="bg-green-100 text-green-700 px-4 py-2 rounded mb-4"><%= msg %></div>
    <% } %>
    <% if (typeof errors !== 'undefined') { %>
      <div class="bg-red-100 text-red-700 px-4 py-2 rounded mb-4">
        <ul>
          <% errors.forEach(error => { %>
            <li><%= error.msg %></li>
          <% }) %>
        </ul>
      </div>
    <% } %>
    <% if (typeof errorsMongoose !== 'undefined') { %>
      <div class="bg-red-100 text-red-700 px-4 py-2 rounded mb-4">
        <ul>
          <% errorsMongoose.forEach(error => { %>
            <li><%= error.message %></li>
          <% }) %>
        </ul>
      </div>
    <% } %>
    
    <form id="MyForm" method="post" action="/form-pendaftaran" enctype="multipart/form-data" class="grid grid-cols-2 gap-5">
      <div class="col-span-1">
        <!-- NISN -->
      <div class="mb-4">
        <label for="nisn" class="block text-sm font-semibold text-gray-700">NISN</label>
        <input 
          type="text" 
          id="nisn" 
          name="nisn" 
          value="<%= data ? data.nisn : '' %>" 
          placeholder="Masukkan nomor NISN"
          class="mt-2 w-full px-4 py-3 bg-gray-50 border-2 border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 hover:border-gray-400 transition-all duration-200 text-gray-700"
          required>
      </div>
    
      <!-- NIK -->
      <div class="mb-4">
        <label for="nik" class="block text-sm font-semibold text-gray-700">NIK</label>
        <input 
          type="text" 
          id="nik" 
          name="nik" 
          value="<%= data ? data.nik : '' %>" 
          placeholder="Masukkan nomor NIK"
          class="mt-2 w-full px-4 py-3 bg-gray-50 border-2 border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 hover:border-gray-400 transition-all duration-200 text-gray-700"
          required>
      </div>
    
      <!-- Nama Lengkap -->
      <div class="mb-4">
        <label for="namaLengkap" class="block text-sm font-semibold text-gray-700">Nama Lengkap</label>
        <input 
          type="text" 
          id="namaLengkap" 
          name="nama_lengkap" 
          value="<%= data ? data.nama_lengkap : '' %>" 
          placeholder="Masukkan nama lengkap"
          class="mt-2 w-full px-4 py-3 bg-gray-50 border-2 border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 hover:border-gray-400 transition-all duration-200 text-gray-700"
          required>
      </div>
    
      <!-- Jenis Kelamin -->
      <div class="mb-4">
        <label for="jenisKelamin" class="block text-sm font-semibold text-gray-700">Jenis Kelamin</label>
        <select 
          id="jenisKelamin" 
          name="jenis_kelamin"
          class="mt-2 w-full px-4 py-3 bg-gray-50 border-2 border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 hover:border-gray-400 transition-all duration-200 text-gray-700"
          required>
          <option value="" disabled selected hidden>Pilih jenis kelamin</option>
          <option value="Laki-laki" <%= data.jenis_kelamin === 'Laki-laki' ? 'selected' : '' %>>Laki-laki</option>
          <option value="Perempuan" <%= data.jenis_kelamin === 'Perempuan' ? 'selected' : '' %>>Perempuan</option>
        </select>
      </div>

      <!-- Usia -->
        <div class="mb-4">
          <label for="usia" class="block text-sm font-semibold text-gray-700">Usia (Tahun)</label>
          <input 
            type="number" 
            id="usia" 
            name="usia" 
            value="<%= data ? data.usia : '' %>" 
            placeholder="Masukkan usia" 
            class="mt-2 w-full px-4 py-3 bg-gray-50 border-2 border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 hover:border-gray-400 transition-all duration-200 text-gray-700" 
            required>
        </div>
        <!-- Tempat dan Tanggal Lahir -->
        <div class="mb-4">
          <label for="tempatTanggalLahir" class="block text-sm font-semibold text-gray-700">Tempat / Tanggal Lahir</label>
          <!-- Tempat Lahir -->
          <input 
            type="text" 
            id="tempatLahir" 
            name="tempat_lahir" 
            value="<%= data ? data.tempat_lahir : '' %>" 
            placeholder="Masukkan tempat lahir" 
            class="mt-2 w-full px-4 py-3 bg-gray-50 border-2 border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 hover:border-gray-400 transition-all duration-200 text-gray-700" 
            required>
          <!-- Tanggal Lahir -->
          <input 
            type="date" 
            id="tanggalLahir" 
            name="tanggal_lahir" 
            value="<%= data ? data.tanggal_lahir : '' %>" 
            class="mt-2 w-full px-4 py-3 bg-gray-50 border-2 border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 hover:border-gray-400 transition-all duration-200 text-gray-700" 
            required>
        </div>

        <!-- Alamat -->
        <div class="mb-4">
          <label for="alamat" class="block text-sm font-semibold text-gray-700">Alamat</label>
          <textarea 
            id="alamat" 
            name="alamat" 
            placeholder="Masukkan alamat lengkap" 
            class="mt-2 w-full px-4 py-3 bg-gray-50 border-2 border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 hover:border-gray-400 transition-all duration-200 text-gray-700" 
            style="min-height: 100px;" 
            required><%= data ? data.alamat : '' %></textarea>
        </div>
        <!-- Anak ke -->
        <div class="mb-4">
          <label for="anakKe" class="block text-sm font-semibold text-gray-700">Anak ke</label>
          <input 
            type="number" 
            id="anakKe" 
            name="anak_ke" 
            value="<%= data ? data.anak_ke : '' %>" 
            placeholder="Masukkan anak ke" 
            class="mt-2 w-full px-4 py-3 bg-gray-50 border-2 border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 hover:border-gray-400 transition-all duration-200 text-gray-700" 
            required>
        </div>
        <!-- Jumlah Saudara -->
        <div class="mb-4">
          <label for="jumlahSaudara" class="block text-sm font-semibold text-gray-700">Jumlah Saudara</label>
          <input 
            type="number" 
            id="jumlahSaudara" 
            name="jumlah_saudara" 
            value="<%= data ? data.jumlah_saudara : '' %>" 
            placeholder="Masukkan jumlah saudara" 
            class="mt-2 w-full px-4 py-3 bg-gray-50 border-2 border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 hover:border-gray-400 transition-all duration-200 text-gray-700" 
            required>
        </div>

      

      </div>

      <div class="col-span-1">
          <!-- Nomor Telepon -->
          <div class="mb-4">
            <label for="nomorTelphone" class="block text-sm font-semibold text-gray-700">Nomor Telphone / Nomor WA</label>
            <input 
              type="text" 
              id="nomorTelphone" 
              name="nomor_telephone" 
              value="<%= data ? data.nomor_telephone : '' %>" 
              placeholder="Masukkan nomor telphone aktif" 
              class="mt-2 w-full px-4 py-3 bg-gray-50 border-2 border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 hover:border-gray-400 transition-all duration-200 text-gray-700" 
              required>
          </div>
        
        <!-- Alumni SD -->
        <div class="mb-4">
          <label for="alumniSd" class="block text-sm font-semibold text-gray-700">Alumni SD</label>
          <input 
            type="text" 
            id="alumniSd" 
            name="alumni_sd" 
            value="<%= data ? data.alumni_sd : '' %>" 
            placeholder="Masukkan alumni SD" 
            class="mt-2 w-full px-4 py-3 bg-gray-50 border-2 border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 hover:border-gray-400 transition-all duration-200 text-gray-700" 
            required>
        </div>

        <!-- Alamat Sekolah Asal -->
        <div class="mb-4">
          <label for="alamatSekolahAsal" class="block text-sm font-semibold text-gray-700">Alamat Sekolah Asal</label>
          <input 
            type="text" 
            id="alamatSekolahAsal" 
            name="alamat_sekolah_asal" 
            value="<%= data ? data.alamat_sekolah_asal : '' %>" 
            placeholder="Masukkan alamat sekolah asal" 
            class="mt-2 w-full px-4 py-3 bg-gray-50 border-2 border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 hover:border-gray-400 transition-all duration-200 text-gray-700" 
            required>
        </div>
        <!-- Nama Lengkap Ayah -->
        <div>
          <label for="namaLengkapAyah" class="block text-sm font-semibold text-gray-700">Nama Lengkap Ayah</label>
          <input 
            type="text" 
            id="namaLengkapAyah" 
            name="nama_lengkap_ayah" 
            value="<%= data ? data.nama_lengkap_ayah : '' %>" 
            placeholder="Masukkan Nama Lengkap Ayah" 
            class="mt-2 w-full px-4 py-3 bg-gray-50 border-2 border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 hover:border-gray-400 transition-all duration-200 text-gray-700" 
            required>
          <div id="namaLengkapAyah" class="text-sm text-gray-500 mt-1">Ketik 'Tidak ada' jika tidak ada</div>
        </div>

        <!-- Nama Lengkap Ibu -->
        <div>
          <label for="namaLengkapIbu" class="block text-sm font-semibold text-gray-700">Nama Lengkap Ibu</label>
          <input 
            type="text" 
            id="namaLengkapIbu" 
            name="nama_lengkap_ibu" 
            value="<%= data ? data.nama_lengkap_ibu : '' %>" 
            placeholder="Masukkan Nama Lengkap Ibu" 
            class="mt-2 w-full px-4 py-3 bg-gray-50 border-2 border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 hover:border-gray-400 transition-all duration-200 text-gray-700" 
            required>
          <div id="namaLengkapIbu" class="text-sm text-gray-500 mt-1">Ketik 'Tidak ada' jika tidak ada</div>
        </div>

        <!-- Nama Lengkap Wali -->
        <div>
          <label for="namaLengkapWali" class="block text-sm font-semibold text-gray-700">Nama Lengkap Wali</label>
          <input 
            type="text" 
            id="namaLengkapWali" 
            name="nama_lengkap_wali" 
            value="<%= data ? data.nama_lengkap_wali : '' %>" 
            placeholder="Masukkan Nama Lengkap Wali" 
            class="mt-2 w-full px-4 py-3 bg-gray-50 border-2 border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 hover:border-gray-400 transition-all duration-200 text-gray-700" 
            required>
          <div id="namaLengkapWali" class="text-sm text-gray-500 mt-1">Ketik 'Tidak ada' jika tidak ada</div>
        </div>

        <!-- Kode Pos -->
        <div>
          <label for="kodePos" class="block text-sm font-semibold text-gray-700">Kode Pos</label>
          <input 
            type="number" 
            id="kodePos" 
            name="kode_pos" 
            value="<%= data ? data.kode_pos : '' %>" 
            placeholder="Masukkan Kode Pos" 
            class="mt-2 w-full px-4 py-3 bg-gray-50 border-2 border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 hover:border-gray-400 transition-all duration-200 text-gray-700" 
            required>
        </div>
          <!-- Foto Formal -->
          <div>
            <label for="fotoFormal" class="block text-sm font-semibold text-gray-700">Foto Formal</label>
            <input 
              type="file" 
              id="fotoFormal" 
              name="foto_formal" 
              class="mt-2 w-full px-4 py-3 bg-gray-50 border-2 border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 hover:border-gray-400 transition-all duration-200 text-gray-700" 
              required>
          </div>

          <!-- Foto Akta Kelahiran -->
          <div>
            <label for="aktaKelahiran" class="block text-sm font-semibold text-gray-700">Foto Akta Kelahiran</label>
            <input 
              type="file" 
              id="aktaKelahiran" 
              name="akta_kelahiran" 
              class="mt-2 w-full px-4 py-3 bg-gray-50 border-2 border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 hover:border-gray-400 transition-all duration-200 text-gray-700" 
              required>
          </div>

          <!-- Foto Kartu Keluarga -->
          <div>
            <label for="kartuKeluarga" class="block text-sm font-semibold text-gray-700">Foto Kartu Keluarga</label>
            <input 
              type="file" 
              id="kartuKeluarga" 
              name="kartu_keluarga" 
              class="mt-2 w-full px-4 py-3 bg-gray-50 border-2 border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 hover:border-gray-400 transition-all duration-200 text-gray-700" 
              required>
          </div>

          <!-- Foto KTP Ibu/Bapak/Wali -->
          <div>
            <label for="fcKtp" class="block text-sm font-semibold text-gray-700">Foto KTP Ibu/Bapak/Wali</label>
            <input 
              type="file" 
              id="fcKtp" 
              name="fc_ktp" 
              class="mt-2 w-full px-4 py-3 bg-gray-50 border-2 border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 hover:border-gray-400 transition-all duration-200 text-gray-700" 
              required>
          </div>

          <!-- Foto KIP / KIS -->
          <div>
            <label for="kipKis" class="block text-sm font-semibold text-gray-700">Foto KIP / KIS (Bila Ada)</label>
            <input 
              type="file" 
              id="kipKis" 
              name="kip_kis" 
              class="mt-2 w-full px-4 py-3 bg-gray-50 border-2 border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 hover:border-gray-400 transition-all duration-200 text-gray-700" 
              >
          </div>

          <!-- Tombol Submit -->
           <div class="flex justify-between gap-10">
             <button 
               type="submit" 
               class="mt-4 w-full py-3 px-6 bg-blue-600 text-white font-semibold rounded-lg hover:bg-blue-700 transition-all duration-200 order-2">
               Selanjutnya
             </button>
             <a href="/" class="mt-4 w-full py-3 px-6 bg-gray-700 text-white font-semibold rounded-lg hover:bg-gray-800 transition-all duration-200 text-center order-1">Kembali</a>
           </div>
      </div>


      </div>
    </form>
  </div>
</div>

